.navbar-nav {
    margin-left: auto;
}

.btn-get-started {
    text-decoration: none;
    padding: 18px 50px;
    border-radius: 30px;
    background: #d9f688;
    display: inline-block;
    font-weight: 700;
    margin-top: 70px;
    box-shadow: 5px 8px 10px rgb(0 0 0 / 10%);
}

.brand-name {
    color: #ff004f;
}

#header .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
    0% {
        transform: translate(10px);
    }

    100% {
        transform: translate(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translate(10px);
    }

    100% {
        transform: translate(-10px);
    }
}

.text-center {
    text-align: center;
}

a.nav-link {
    color: black;
}

a.nav-link:hover{
    border-bottom: #ff004f;
}